@model proyectoFinal.Models.mascota

@{
    ViewBag.Title = "Delete";
    String msj = ViewBag.errorMsj;
}

<h2>Elimiar</h2>

<h3>¿Esta seguro de que desea eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Propietario </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propietario_Mascota.nombre)
        </dd>

        <dt>
            <label>Especie </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_mascota.especie)
        </dd>

        <dt>
            <label>Nombre </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            <label>Peso </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso)
        </dd>

        <dt>
            <label>Sexo </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

        <dt>
            <label>Fecha de nacimiento </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechanacimiento)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
        <h1 class="text-danger">@msj</h1>
    }
</div>
